* text=auto eol=lf

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignore all test and documentation with "export-ignore".
.agents export-ignore
.agents/ export-ignore
.ai/ export-ignore
.cache export-ignore
.claude export-ignore
.claude/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.idea export-ignore
.lpv export-ignore
.mcp.json export-ignore
AGENTS.md export-ignore
CHANGELOG.md export-ignore
CLAUDE.md export-ignore
composer.lock export-ignore
phpstan-baseline.neon export-ignore
phpstan.neon.dist export-ignore
phpunit.xml export-ignore
pint.json export-ignore
rector.php export-ignore
testbench.yaml export-ignore
tests/ export-ignore
workbench/ export-ignore

# >>> package-boost (managed) >>>
# <<< package-boost (managed) <<<
